Flask==3.0.0
flask-limiter==3.5.0
flask-cors==4.0.0
flask-talisman==1.1.0
requests==2.31.0
yt-dlp==2024.11.18
instaloader==4.13.1
python-dotenv==1.0.0
gunicorn==21.2.0
redis==5.0.1
imageio-ffmpeg==0.4.9
